//video block has 3 sections - title, skip-button & video
.title_container {
  position: absolute;
  margin: 0.5%;
  left: 0px;
  top: 0px;
  right: 15%;
  bottom: 87%;
  display: grid;
  place-items: center;
}
.skip_button_container {
  position: absolute;
  margin: 0.5%;
  left: 85%;
  top: 0px;
  right: 0px;
  bottom: 87%;
}
.video_block {
  position: absolute;
  margin: 0.7%;
  left: 0px;
  top: 12%;
  right: 0px;
  bottom: 0px;
}

//css for video title.
//most of its css is in title_container
.video_title {
  width: 100%;
  font-size:clamp(0.5vw, 0.9vw, 1.5vw);
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//css for skip button - regular, hover & active
.skip_button {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  border: 1px solid #315f53;
  border-radius: 0.5vw;
  background-color: rgba(206, 203, 203, 0.8);
  font-size:clamp(1vw, 1.2vw, 2vw);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.skip_button:hover {
  background-color: #0f9171;
  color: #fff;
  box-shadow: 3px 3px 10px #d3cccc;
  transform: translateX(-1px);
  font-weight: bolder;
}
.skip_button:active {
  transform: translateX(1px);
  box-shadow: 0px 0px 0px #d3cccc;
}
