.title {
  position: absolute;
  margin: 0.5%;
  padding: 10px;
  border-style: solid;
  border-color: #0f9171;
  left: 0px;
  top: 0px;
  right: 15%;
  bottom: 85%;
}

.skip_button {
  position: absolute;
  margin: 0.5%;
  padding: 10px;
  border-style: solid;
  border-color: #0f9171;
  left: 85%;
  top: 0px;
  right: 0px;
  bottom: 85%;
}

.video_block {
  position: absolute;
  margin: 0.5%;
  padding: 10px;
  border-style: solid;
  border-color: #0f9171;
  left: 0px;
  top: 15%;
  right: 0px;
  bottom: 0px;
}

.skip_button_container {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #d5d5d5;
  border: none;
  font-size: 1rem;
}