$primary-color: #0f9171;
$secondary-color: #4100f4;
$tertiary-color: #315f53;
$quaternary-color: #7e0000;
$shadow-color: #d3cccc;

.category_content {
  position: absolute;
  margin: 0.5%;
  inset: 0 10% 0 0;
  border: 0.25vw solid $primary-color;
  border-radius: 0.5vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.arrows_category_block {
  position: absolute;
  margin: 0.5%;
  inset: 0 0 0 90%;
}

h3 {
  font-family: Verdana;
  color: $quaternary-color;
  text-align: center;
  font-size: clamp(1vw, 1.2vw, 2vw);
  margin: 1.5vh 0 0 0;
  padding: 0;
}

.arrow_up_category,
.arrow_down_category {
  width: 100%;
  background-color: $secondary-color;
  border: 0.1vw solid $tertiary-color;
  border-radius: 1vw;
  padding: 0;
  color: white;
  position: absolute;
  inset: 0;
  cursor: pointer;
  display: grid;
  place-items: center;
  overflow: hidden;

  &:hover {
    background-color: $primary-color;
    box-shadow: 3px 3px 10px $shadow-color;
    transform: translateX(-1px);
  }

  &:active {
    background-color: $primary-color;
    transform: translateX(1px);
    box-shadow: 0 0 0 $shadow-color;
  }
}

.arrow_up_category {
  inset: 0 0 85% 0;
}

.arrow_down_category {
  inset: 85% 0 0 0;
}