//content block is split into 2 sections - content & arrows
.category_block {
  position: absolute;
  margin: 0.5%;
  left: 0px;
  top: 0px;
  right: 10%;
  bottom: 0px;
  // font-size:clamp(1vw, 1.5vw, 2vw);
}
.arrows_category_block {
  position: absolute;
  margin: 0.5%; 
  bottom: 0px;
  left: 90%;
  top: 0px;
  right: 0px;
}

//h3 mostly for prompt message in content block
h3 {
  font-family: Verdana;
  color: #7e0000;
  text-align: center;
  font-size:clamp(1vw, 1.2vw, 2vw);
}

// arrows button css - regular, hover and active
.arrow_up_category,
.arrow_down_category {
  width: 100%;
  background-color: #4100f4;
  border: 0.1vw solid #315f53;
  border-radius: 1vw;
  padding: 0px;
  color: white;
  position: absolute;
  left: 0px;
  right: 0px;
  cursor: pointer;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.arrow_up_category {
  top: 0px;
  bottom: 85%;
}
.arrow_down_category {
  top: 85%;
  bottom: 0px;
}

.arrow_up_category:hover,
.arrow_down_category:hover {
  background-color: #0f9171;
  box-shadow: 3px 3px 10px #d3cccc;
  transform: translateX(-1px);
}

.arrow_up_category:active,
.arrow_down_category:active {
  background-color: #0f9171;
  transform: translateX(1px);
  box-shadow: 0px 0px 0px #d3cccc;
}
