// left block is split into 3 sections - randomizer, category & volume
.category_button {
  position: absolute;
  margin: 0.5%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 15%;
  display: flex;
  flex-direction: column;
}
.volume_block {
  position: absolute;
  margin: 0.5%;
  border-style: solid;
  border-color: #0f9171;
  left: 0px;
  top: 85%;
  right: 0px;
  bottom: 0px;
}

// category button's css - regular
.button-left,
.button-randomizer,
.button-yt {
  margin-bottom: 0.2rem;
  cursor: pointer;
  font-size: x-large;
  font-weight: bolder;
  border: 1px solid #315f53;
  border-radius: 1rem;
  background-color: rgba(172, 169, 169, 0.8);
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// category button's css - hover
.button-left:hover,
.button-randomizer:hover,
.button-yt:hover {
  background-color: #0f9171;
  color: #fff;
  box-shadow: 3px 3px 10px #d3cccc;
  transform: translateX(-1px);
  font-weight: bolder;
}
.button-randomizer:hover {
  background-color: #92057d;
}
.button-yt:hover {
  background-color: #cb1e1e;
}

// category button's css - active
.button-left:active,
.button-randomizer:active,
.button-yt:active {
  transform: translateX(1px);
  box-shadow: 0px 0px 0px #d3cccc;
}
