// left block is split into 3 sections - randomizer, category & volume
.category_button {
  position: absolute;
  margin: 0.5%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.volume_block {
  position: absolute;
  margin: 0.5%;
  border: 0.25vw solid #315f53;
  border-radius: 0.8vw;
  left: 1%;
  top: 86%;
  right: 1%;
  bottom: 0px;
}

//header in span
.span-heading {
  font-weight: bold;
  display: flex;
  place-content: center;
  color: #033e30;
  font-size: clamp(1vw, 1vw, 2vw);
}

// category button's css - regular
.button-left,
.button-randomizer,
.button-yt {
  margin-bottom: 0.2vw;
  cursor: pointer;
  font-weight: bolder;
  border: 0.1vw solid #315f53;
  border-radius: 1vw;
  background-color: rgba(172, 169, 169, 0.8);
  white-space: nowrap;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: 100%;
  font-size: clamp(1vw, 1.5vw, 2vw);
  align-items: center;
  align-content: center;
  justify-content: center;
}

// category button's css - hover
.button-left:hover,
.button-randomizer:hover,
.button-yt:hover {
  background-color: #0f9171;
  color: #fff;
  box-shadow: 3px 3px 10px #d3cccc;
  transform: translateX(-1px);
  font-weight: bolder;
}
.button-randomizer:hover {
  background-color: #92057d;
}
.button-yt:hover {
  background-color: #cb1e1e;
}

// category button's css - active
.button-left:active,
.button-randomizer:active,
.button-yt:active {
  transform: translateX(1px);
  box-shadow: 0px 0px 0px #d3cccc;
}

//volume button css - regular, hover, active
.volume-dial {
  width: 3.2vw;
  background-color: #4100f4;
  border: 0.1vw solid #315f53;
  border-radius: 1vw;
  color: white;
  position: absolute;
  padding: 0px;
  top: 50%;
  bottom: 5%;
  cursor: pointer;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.volume-dial-left {
  left: 2%;
  right: 80%;
}
.volume-dial-right {
  left: 80%;
  right: 2%;
}

.volume-dial:hover {
  background-color: #0f9171;
  box-shadow: 3px 3px 10px #d3cccc;
  transform: translateX(-1px);
}

.volume-dial:active {
  background-color: #0f9171;
  transform: translateX(1px);
  box-shadow: 0px 0px 0px #d3cccc;
}

// mute & unmute button css - regular, hover, active
.button-mute,
.button-unmute {
  width: 7vw;
  background-color: rgb(167, 167, 167);
  border: 0.1vw solid #315f53;
  color: #052e30;
  border-radius: 1vw;
  position: absolute;
  top: 5%;
  right: 2%;
  left: 60%;
  bottom: 60%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1vw, 1vw, 2vw);
  font-weight: bold;
  overflow: hidden;
}

.button-mute:hover,
.button-unmute:hover {
  background-color: #0f9171;
  color: #fff;
  box-shadow: 3px 3px 10px #d3cccc;
  transform: translateX(-1px);
}

.button-mute:active,
.button-unmute:active {
  background-color: #0f9171;
  transform: translateX(1px);
  box-shadow: 0px 0px 0px #d3cccc;
}

//volume header and digit
.volume-digit {
  font-weight: bold;
  font-size: clamp(1vw, 1.1vw, 2vw);
  color: #033e30;
  position: absolute;
  top: 15%;
  left: 5%;
  right: 45%;
  bottom: 60%;
  overflow: hidden;
}

//slider
.input-slider {
  position: absolute;
  top: 65%;
  bottom: 20%;
  left: 25%;
  right: 25%;
}
input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: #ddd;
  border: 0.1vw solid #021a14;
  border-radius: 1vw;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

//use same css for both input[type=range]moz kit and input[type=range]::-webkit-slider-thumb
@mixin input-range-thumb-style {
  appearance: none;
  background-color: #007bff;
  border: 0.1vw solid #021a14;
  border-radius: 0.2vw;
  height: 5vh;
  width: 1vw;
}

input[type='range'] {
  &::-moz-range-thumb {
    @include input-range-thumb-style;
  }

  &::-webkit-slider-thumb {
    @include input-range-thumb-style;
  }
}

