// left block is split into 3 sections - randomizer, category & volume
.randomizer_block {
  position: absolute;
  margin: 0.5%;
  padding: 10px;
  border-style: solid;
  border-color: #0f9171;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 88%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.category_button {
  position: absolute;
  margin: 0.5%;
  padding: 10px;
  border-style: solid;
  border-color: #0f9171;
  left: 0px;
  top: 12%;
  right: 0px;
  bottom: 15%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.volume_block {
  position: absolute;
  margin: 0.5%;
  padding: 10px;
  border-style: solid;
  border-color: #0f9171;
  left: 0px;
  top: 85%;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

// category button's css - regular
.button-left,
.button-randomizer,
.button-yt {
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  border: 0.5px solid #315f53;
  border-radius: 1rem;
  background-color: #aca9a9;
  width: 100%;
  height: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
}
.button-randomizer {
  margin-bottom: 0px;
}

// category button's css - hover
.button-left:hover,
.button-randomizer:hover,
.button-yt:hover {
  background-color: #0f9171;
  color: #fff;
  box-shadow: 3px 3px 10px #d3cccc;
  transform: translateX(-1px);
  font-weight: bolder;
}
.button-randomizer:hover {
  background-color: #92057d;
}
.button-yt:hover {
  background-color: #cb1e1e;
}

// category button's css - active
.button-left:active,
.button-randomizer:active,
.button-yt:active {
  transform: translateX(1px);
  box-shadow: 0px 0px 0px #d3cccc;
}
