// right block is split into 2 main search and queue section
.search_block {
  position: absolute;
  margin: 0.5%;
  inset: 0 0 85% 0;
}
.queue_block {
  position: absolute;
  margin: 0.5%;
  inset: 16% 0 0 0;
}

// search is split into header and search-bar
.search_header {
  position: absolute;
  inset: 0 0 55% 0;
  display: grid;
  place-items: center;
}
.search_bar {
  position: absolute;
  border: 0.25vw solid #315f53;
  border-radius: 1vw;
  inset: 45% 0 0 0;
}

// queue block split again in 2 halves
//top half is split into header and clear-queue-button
.queue_header {
  position: absolute;
  inset: 0 60% 92% 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.clear_queue_button {
  position: absolute;
  margin: 0.5%;
  inset: 0 0 92% 40%;
}

//bottom half is split into queue-list and arrows
.queue_list {
  position: absolute;
  margin: 0.5%;
  border: 0.25vw solid #315f53;
  border-radius: 1vw;
  inset: 8% 13% 0 0;
}
.arrows_queue_list {
  position: absolute;
  margin: 0.5%;
  inset: 8% 0 0 87%;
}

// clear queue button css: regular, hover & active
.button_right {
  width: 100%;
  cursor: pointer;
  font-size:clamp(1vw, 1.5vw, 2vw);
  font-weight: bold;
  color: #7e0000;
  border: 0.1vw solid #315f53;
  border-radius: 1vw;
  background-color: rgba(168, 164, 164, 0.8);
  position: absolute;
  inset: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.button_right:hover {
  background-color: #7e0000;
  color: #fff;
  box-shadow: 3px 3px 10px #d3cccc;
  transform: translateX(-1px);
  font-weight: bolder;
}
.button_right:active {
  transform: translateX(1px);
  box-shadow: 0px 0px 0px #d3cccc;
}

//text css for search and queue header
.search_header_text,
.queue_header_text {
  font-size:clamp(1vw, 1.5vw, 2vw);
  font-weight: bolder;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  align-content: end;
  justify-content: start;
  align-items: center;
}
.search_header_text {
  justify-content: center;
  align-content: center;
}

//arrow css for queue list copied over from category block
// arrows button css - regular, hover and active
.arrow_up_queue,
.arrow_down_queue {
  width: 100%;
  background-color: #4100f4;
  border: 0.1vw solid #315f53;
  border-radius: 1vw;
  padding: 0px;
  color: white;
  position: absolute;
  cursor: pointer;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.arrow_up_queue {
  inset: 0 0 89.5% 0;
}
.arrow_down_queue {
  inset: 89.5% 0 0 0;
}

.arrow_up_queue:hover,
.arrow_down_queue:hover {
  background-color: #0f9171;
  box-shadow: 3px 3px 10px #d3cccc;
  transform: translateX(-1px);
}

.arrow_up_queue:active,
.arrow_down_queue:active {
  background-color: #0f9171;
  transform: translateX(1px);
  box-shadow: 0px 0px 0px #d3cccc;
}
