.mainroot {
  width: 100%;
  height: 100vh;
}

.leftblock {
  position: absolute;
  margin: 0.5%;
  padding: 10px;
  border-style: solid;
  border-color: #0f9171;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 80%;
}

.videoblock {
  position: absolute;
  margin-top: 0.5%;
  padding: 10px;
  border-style: solid;
  border-color: #0f9171;
  top: 0px;
  left: 20%;
  bottom: 60%;
  right: 30%;
}

.contentblock {
  position: absolute;
  margin-top: 0.5%;
  padding: 10px;
  border-style: solid;
  border-color: #0f9171;
  overflow-y: auto;
  overflow-x: hidden;
  top: 40%;
  left: 20%;
  right: 30%;
  bottom: 8%;
}

.footerblock {
  position: absolute;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: rgb(0, 77, 49);
  animation: animate 7s infinite linear;
  border-style: solid;
  border-color: #0f9171;
  top: 92%;
  left: 20%;
  right: 30%;
  bottom: 0px;
}

.rightblock {
  position: absolute;
  margin: 0.5%;
  padding: 10px;
  border-style: solid;
  border-color: #0f9171;
  bottom: 0px;
  right: 0px;
  top: 0px;
  left: 70%;
}
