// whole app is split into 3 sections - left, middle & right
// middle is split into 3 sections - video, content & footer

$margin: 0.5%;
$position: absolute;
$border-color: #0f9171;
$border-width: 0.25vw;
$border-radius: 0.5vw;

.leftblock,
.videoblock,
.contentblock,
.rightblock,
.footerblock {
  position: $position;
  margin: $margin;
}

.leftblock {
  inset: 0 80% 0 0;
}

.videoblock {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  inset: 0 35% 60% 20%;
}

.contentblock {
  margin-top: $margin;
  inset: 40% 35% 5% 20%;
}

.rightblock {
  inset: 0 0 0 65%;
}

.footerblock {
  margin: $margin 0;
  inset: 95% 35% 0 20%;
  display: grid;
  place-items: center;
}
