// whole app is split into 3 sections - left, middle & right
// middle is split into 3 sections - video, content & footer
.leftblock {
  position: absolute;
  margin: 0.5%;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 80%;
}

.videoblock {
  position: absolute;
  margin-top: 0.5%;
  border: 0.25vw solid #0f9171;
  border-radius: 0.5vw;
  top: 0px;
  left: 20%;
  bottom: 60%;
  right: 35%;
}

.contentblock {
  position: absolute;
  margin-top: 0.5%;
  top: 40%;
  left: 20%;
  right: 35%;
  bottom: 5%;
}

.rightblock {
  position: absolute;
  margin: 0.5%;
  bottom: 0px;
  right: 0px;
  top: 0px;
  left: 65%;
}

.footerblock {
  position: absolute;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  top: 95%;
  left: 20%;
  right: 35%;
  bottom: 0px;
  display: grid;
  place-items: center;
}
